@page "/referralform"

@using DataAccess
@using MudblazorAuth.Models
@inject IMySQLDataAccess _data
@inject IConfiguration _config
@inject NavigationManager UriHelper

<h2>Referral Form</h2>

<EditForm Model="@newReferral" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First Name" HelperText="" @bind-Value="newReferral.RefName" For="@(() => newReferral.RefName)" />
                    <MudDatePicker Label="Date of Birth" @bind-value="newReferral.RefDob" DisableToolbar="true" />
                    <MudTextField Label="Address" HelperText="" @bind-Value="newReferral.RefAddress1" For="@(() => newReferral.RefAddress1)" />
                    <MudTextField Label="Address 2" HelperText="" @bind-Value="newReferral.RefAddress2" For="@(() => newReferral.RefAddress2)" />
                    <MudTextField Label="Address 3" HelperText="" @bind-Value="newReferral.RefAddress3" For="@(() => newReferral.RefAddress3)" />
                    <MudTextField Label="Address 4" HelperText="" @bind-Value="newReferral.RefAddress4" For="@(() => newReferral.RefAddress4)" />
                    <MudTextField Label="Contact Number" HelperText="" @bind-Value="newReferral.RefContact1" For="@(() => newReferral.RefContact1)" />
                    <MudTextField Label="Contact Number 2" HelperText="" @bind-Value="newReferral.RefContact2" For="@(() => newReferral.RefContact2)" />
                    <MudTextField Label="PPS Number" HelperText="" @bind-Value="newReferral.RefPPS" For="@(() => newReferral.RefPPS)" />
                    <MudTextField Label="Name of Referring Agency" HelperText="" @bind-Value="newReferral.RefNameReferring" For="@(() => newReferral.RefNameReferring)" />
                    <MudTextField Label="Name Referrer" HelperText="" @bind-Value="newReferral.RefNameReferrer" For="@(() => newReferral.RefNameReferrer)" />
                    <MudTextField Label="Background" HelperText="" @bind-Value="newReferral.RefBackground" For="@(() => newReferral.RefBackground)" />
                    <MudTextField Label="Medical" HelperText="" @bind-Value="newReferral.RefMedical" For="@(() => newReferral.RefMedical)" />
                    <MudTextField Label="RefKin" HelperText="" @bind-Value="newReferral.RefKin" For="@(() => newReferral.RefKin)" />
                    <MudDatePicker Label="Date Referral" @bind-value="newReferral.DateReferral" DisableToolbar="true"  />
                    </MudCardContent>
               
                <MudCardActions>
                    <MudButton ButtonType=" ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {

    bool success;
    private ReferralFormModel newReferral = new ReferralFormModel();
    private async Task OnValidSubmit()
    {
        string sql = "INSERT INTO referral (RefName, RefDob, RefAddress1, RefAddress2, RefAddress3, RefAddress4, " +
                "RefContact1, RefContact2, RefPPS, RefNameReferring, RefNameReferrer, RefBackground, RefMedical, RefKin, DateReferral)" +
                "VALUES (@RefName, @RefDob, @RefAddress1, @RefAddress2, @RefAddress3, @RefAddress4, " +
                "@RefContact1, @RefContact2, @RefPPS, @RefNameReferring, @RefNameReferrer, @RefBackground, @RefMedical, @RefKin, @DateReferral);";

        await _data.SaveData(sql, newReferral, _config.GetConnectionString("MySqlConnection"));
        newReferral = new ReferralFormModel();
    }
}