@page "/refdetails/{currentPerson:int}"

@using MudblazorAuth.Data
@using DataAccess
@using MudblazorAuth.Models
@inject IMySQLDataAccess _data
@inject IConfiguration _config
@inject NavigationManager UriHelper
    
<h3>Referral Form Details</h3>

<div class="container">

    <section id="avail-appt-section">

        @foreach (var a in referral)
        {
            <MudGrid Class="justify-space-between">
                <MudItem xs="8">
                <MudText Typo="Typo.body2">Name</MudText>
                <MudText Typo="Typo.body1">@a.RefName</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudText Typo="Typo.body2">Date of birth</MudText>
                <MudText Typo="Typo.body1">@a.RefDob.ToShortDateString()</MudText>
                </MudItem>
                <MudItem xs="6">
                <MudText Typo="Typo.body2">Address</MudText>
                <MudText Typo="Typo.body1">@a.RefAddress1</MudText>
                </MudItem>
                <MudItem xs="6">
                <MudText Typo="Typo.body2">Address</MudText>
                <MudText Typo="Typo.body1">@a.RefAddress2</MudText>
                </MudItem>
                <MudItem xs="6">
                <MudText Typo="Typo.body2">Address</MudText>
                <MudText Typo="Typo.body1">@a.RefAddress3</MudText>
                </MudItem>
                <MudItem xs="6">
                <MudText Typo="Typo.body2">Address</MudText>
                <MudText Typo="Typo.body1">@a.RefAddress4</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudText Typo="Typo.body2">Contact</MudText>
                <MudText Typo="Typo.body1">@a.RefContact1</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudText Typo="Typo.body2">Contact</MudText>
                <MudText Typo="Typo.body1">@a.RefContact2</MudText>
                </MudItem>
                <MudItem xs="4">
                <MudText Typo="Typo.body2">PPS Number</MudText>
                <MudText Typo="Typo.body1">@a.RefPPS</MudText>
                </MudItem>
                <MudItem xs="6">
                <MudText Typo="Typo.body2">Name of Referrer</MudText>
                <MudText Typo="Typo.body1">@a.RefNameReferring</MudText>
                </MudItem>
                <MudItem xs="6">
                <MudText Typo="Typo.body2">Name of Referring Agency</MudText>
                <MudText Typo="Typo.body1">@a.RefNameReferrer</MudText>
                </MudItem>
                <MudItem xs="12">
                <MudText Typo="Typo.body2">Background Information on Young Person</MudText>
                <MudText Typo="Typo.body1">@a.RefBackground</MudText>
                </MudItem>
                <MudItem xs="12">
                <MudText Typo="Typo.body2">Medical Issues</MudText>
                <MudText Typo="Typo.body1">@a.RefMedical</MudText>
                </MudItem>
                <MudItem xs="12">
                <MudText Typo="Typo.body2">Next of Kin</MudText>
                <MudText Typo="Typo.body1">@a.RefKin</MudText>
                </MudItem>
                <MudItem xs="12">
                <MudText Typo="Typo.body2">Date of Referral</MudText>
                <MudText Typo="Typo.body1">@a.DateReferral.ToShortDateString()</MudText>
                </MudItem>

                <MudButton class="btn btn-primary" id="editAppt" @onclick="() => EditReferral(a.Id)">Edit Form</MudButton>
            </MudGrid>
        }

    </section>

    <section id="edit-appt" class="mt-5">

        @if (editStatus)

        {
            <h3>Edit Referral Form</h3>

            <EditForm Model="@addReferral" OnValidSubmit="@UpdateReferral">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12" sm="12">
                        <MudCard>
                            <MudCardContent>
                                <MudTextField Label="First Name" HelperText="" @bind-Value="addReferral.RefName" For="@(() => addReferral.RefName)" />
                                <MudDatePicker Label="Date of Birth" @bind-value="addReferral.RefDob" DisableToolbar="true" />
                                <MudTextField Label="Address" HelperText="" @bind-Value="addReferral.RefAddress1" For="@(() => addReferral.RefAddress1)" />
                                <MudTextField Label="Address 2" HelperText="" @bind-Value="addReferral.RefAddress2" For="@(() => addReferral.RefAddress2)" />
                                <MudTextField Label="Address 3" HelperText="" @bind-Value="addReferral.RefAddress3" For="@(() => addReferral.RefAddress3)" />
                                <MudTextField Label="Address 4" HelperText="" @bind-Value="addReferral.RefAddress4" For="@(() => addReferral.RefAddress4)" />
                                <MudTextField Label="Contact Number" HelperText="" @bind-Value="addReferral.RefContact1" For="@(() => addReferral.RefContact1)" />
                                <MudTextField Label="Contact Number 2" HelperText="" @bind-Value="addReferral.RefContact2" For="@(() => addReferral.RefContact2)" />
                                <MudTextField Label="PPS Number" HelperText="" @bind-Value="addReferral.RefPPS" For="@(() => addReferral.RefPPS)" />
                                <MudTextField Label="Name of Referring Agency" HelperText="" @bind-Value="addReferral.RefNameReferring" For="@(() => addReferral.RefNameReferring)" />
                                <MudTextField Label="Name Referrer" HelperText="" @bind-Value="addReferral.RefNameReferrer" For="@(() => addReferral.RefNameReferrer)" />
                                <MudTextField Label="Background" HelperText="" @bind-Value="addReferral.RefBackground" For="@(() => addReferral.RefBackground)" />
                                <MudTextField Label="Medical" HelperText="" @bind-Value="addReferral.RefMedical" For="@(() => addReferral.RefMedical)" />
                                <MudTextField Label="RefKin" HelperText="" @bind-Value="addReferral.RefKin" For="@(() => addReferral.RefKin)" />
                                <MudDatePicker Label="Date Referral" @bind-value="addReferral.DateReferral" DisableToolbar="true" />
                            </MudCardContent>

                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                            </MudCardActions>

                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>
        }
    </section>
</div>


@code {

    [Parameter]
    public int currentPerson { get; set; }

    void Navigate()
    {
        UriHelper.NavigateTo("refedit");
    }

    List<ReferralFormModel>? referral;
    List<ReferralFormModel>? thisReferral;

    // booleans to determine what to display in the UI
    bool createStatus = true;
    bool editStatus = false;
    bool deleteErrorMessage = false;

    // error message for db delete exception
    string dbErrorMessage = "";

    // variable to keep track of the current appt being edited
    int refBeingEdited;

    private ReferralFormModel addReferral = new ReferralFormModel();

    // Load the initial data
    protected override async Task OnInitializedAsync(){
        string sql = "SELECT * FROM referral WHERE ID = " + currentPerson;
        referral = await _data.LoadData<ReferralFormModel, dynamic>(sql, new { }, _config.GetConnectionString("MySQLConnection"));
    }

    // Insert Form
    private async Task InsertReferral(){
        ReferralFormModel a = new ReferralFormModel();
        string sql = "INSERT INTO referral (RefName, RefDob, RefAddress1, RefAddress2, RefAddress3, RefAddress4, " +
                "RefContact1, RefContact2, RefPPS, RefNameReferring, RefNameReferrer, RefBackground, RefMedical, RefKin, DateReferral)" +
                "VALUES (@RefName, @RefDob, @RefAddress1, @RefAddress2, @RefAddress3, @RefAddress4, " +
                "@RefContact1, @RefContact2, @RefPPS, @RefNameReferring, @RefNameReferrer, @RefBackground, @RefMedical, @RefKin, @DateReferral);";

        await _data.SaveData(sql, a, _config.GetConnectionString("MySqlConnection"));
        await OnInitializedAsync();
        a = new ReferralFormModel();
        addReferral = new ReferralFormModel();
    }

    //Edit Form
    private async Task EditReferral(int id){
        createStatus = false;
        editStatus = true;
        string sql = "SELECT * FROM referral WHERE Id = @Id";
        thisReferral = await _data.LoadData<ReferralFormModel, dynamic>(sql, new { Id = id }, _config.GetConnectionString("MySqlConnection"));
        refBeingEdited = id;

        addReferral.RefName = thisReferral[0].RefName;
        addReferral.RefDob = thisReferral[0].RefDob;
        addReferral.RefAddress1 = thisReferral[0].RefAddress1;
        addReferral.RefAddress2 = thisReferral[0].RefAddress2;
        addReferral.RefAddress3 = thisReferral[0].RefAddress3;
        addReferral.RefAddress4 = thisReferral[0].RefAddress4;
        addReferral.RefContact1 = thisReferral[0].RefContact1;
        addReferral.RefContact2 = thisReferral[0].RefContact2;
        addReferral.RefPPS = thisReferral[0].RefPPS;
        addReferral.RefNameReferring = thisReferral[0].RefNameReferring;
        addReferral.RefNameReferrer = thisReferral[0].RefNameReferrer;
        addReferral.RefBackground = thisReferral[0].RefBackground;
        addReferral.RefMedical = thisReferral[0].RefMedical;
        addReferral.RefKin = thisReferral[0].RefKin;
        addReferral.DateReferral = thisReferral[0].DateReferral;
    }

    // Update Form
    private async Task UpdateReferral(){
        ReferralFormModel a = new ReferralFormModel{
                RefName = new string(addReferral.RefName),
                RefDob = new DateTime(addReferral.RefDob.Year, addReferral.RefDob.Month, addReferral.RefDob.Day),
                RefAddress1 = new string(addReferral.RefAddress1),
                RefAddress2 = new string(addReferral.RefAddress2),
                RefAddress3 = new string(addReferral.RefAddress3),
                RefAddress4 = new string(addReferral.RefAddress4),
                RefContact1 = new string(addReferral.RefContact1),
                RefContact2 = new string(addReferral.RefContact2),
                RefPPS = new string(addReferral.RefPPS),
                RefNameReferring = new string(addReferral.RefNameReferring),
                RefNameReferrer = new string(addReferral.RefNameReferrer),
                RefBackground = new string(addReferral.RefBackground),
                RefMedical = new string(addReferral.RefMedical),
                RefKin = new string(addReferral.RefKin),
                DateReferral = new DateTime(addReferral.DateReferral.Year, addReferral.DateReferral.Month, addReferral.DateReferral.Day),
                Id = refBeingEdited
            };

        string sql = "UPDATE referral SET RefName = @RefName, RefDob = @RefDob, RefAddress1 = @RefAddress1, RefAddress2 = @RefAddress2, RefAddress3 = @RefAddress3," +
                "RefAddress4 = @RefAddress4, " +
                "RefContact1 = @RefContact1, RefContact2 = @RefContact2, RefPPS = @RefPPS, RefNameReferring = @RefNameReferring, RefNameReferrer = @RefNameReferrer, " +
                "RefBackground = @RefBackground, RefMedical = @RefMedical, RefKin = @RefKin, DateReferral = @DateReferral  WHERE Id = @Id;";
        await _data.SaveData(sql, a, _config.GetConnectionString("MySqlConnection"));
        await OnInitializedAsync();
        createStatus = true;
        editStatus = false;

    }

}
