@page "/samples"
@using MudblazorAuth.Data
@using DataAccess
@using MudblazorAuth.Models
@inject IMySQLDataAccess _data
@inject IConfiguration _config
@attribute [Authorize]


<PageTitle>Samples</PageTitle>

<h1>Samples</h1>


<form>
    <h3>Add New Sample</h3>
    <EditForm Model="@newSample" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />

        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Single Line" HelperText="Max. x characters" @bind-Value="newSample.OneLineText" For="@(() => newSample.OneLineText)" />
                        
                        <MudTextField T="string" Label="Multiple Lines Text" Variant="Variant.Text" Lines="5" @bind-Value="newSample.MultipleLinesText"/>

                        <MudSelect T="string" Label="DropList" AnchorOrigin="Origin.BottomCenter" @bind-Value="newSample.DropList">
                            <MudSelectItem  Value="@("One")" />
                            <MudSelectItem  Value="@("Two")" />
                            <MudSelectItem  Value="@("Three")" />
                        </MudSelect>
                       
                        <MudCheckBox Label="Agree" @bind-value="@newSample.Checkbox" For="@(() => @newSample.Checkbox)"></MudCheckBox>
                        
                        <MudForm>
                            <MudRadioGroup T="string" Label="Radio" @bind-SelectedOption="newSample.Radio">
                                <MudRadio Option="@("Radio 1")">One</MudRadio>
                                <MudRadio Option="@("Radio 2")">Two</MudRadio>
                                <MudRadio Option="@("Radio 3")">Three</MudRadio>
                                <MudRadio Option="@("Radio 4")">Four</MudRadio>
                            </MudRadioGroup>
                        </MudForm>

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
</form>


@code {

    private SamplesModel newSample = new SamplesModel();

    private async Task OnValidSubmit()
    {
        string sql = "INSERT INTO samples (OneLineText, MultipleLinesText, DropList, Checkbox, Radio) VALUES (@oneLineText, @multipleLinesText, @dropList, @checkbox, @radio);";
        await _data.SaveData(sql, newSample, _config.GetConnectionString("MySqlConnection"));
        newSample = new SamplesModel();
    }
}